/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
    /* сохраните этот селектор в приведённом виде.
      Так стили написанные ниже будут иметь больший вес,
      чем стили в медиазапросе предпочтений пользователя
    */
    --h1-text-color: #db00ff;
    --accent-color: #ff0070;
    --text-color: #f1b2ce;
    --text-color-opacity: #f1b2ce40;
    --bg-color: #000028;
    --text-accent-color: #000028;
}

.theme-dark .header {
    --bg-image: url(../images/cover-image-dark.png);
    background-image: var(--bg-image, url(../images/cover-image.png));
}

.theme-dark .header__rec {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    clip: auto;
    overflow: visible;
    color: var(--accent-color, #ff0070);
}

.theme-dark .header__rec::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 9px;
    height: 9px;
    right: -22px;
    top: 7px;
    border-radius: 50%;
    background-color: var(--accent-color, #ff0070);
    color: var(--accent-color, #ff0070);
    box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
}

.theme-dark .header__theme-menu-button {
    color: var(--accent-color, #ff0070);
}

.theme-dark .header__theme-menu-button:hover {
    outline: 1px solid var(--accent-color-opacity, #ff007040);
}

.theme-dark .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--accent-color, #ff0070);
}

.theme-dark .header__theme-menu-button_active {
    border: 1px solid var(--accent-color, #ff0070);
}

.theme-dark .section__title {
    color: var(--accent-color, #ff0070);
}

.theme-dark .page__title::before {
    border-top: 1px solid var(--accent-color, #ff0070);
    border-right: 1px solid var(--accent-color, #ff0070);
}

.theme-dark .page__title::after {
    border-bottom: 1px solid var(--accent-color, #ff0070);
    border-left: 1px solid var(--accent-color, #ff0070);
}

@media (width < 1024px) {
    .theme-dark .footer__title {
        text-shadow: 2px 2px var(--accent-color, #ff0070);
    }
}