:root.theme-light {
    --h1-text-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --text-color-opacity: #35343040;
    --bg-color: #fff1f7;
    --text-accent-color: #353430;
}

.theme-light .header {
    --bg-image: url(../images/cover-image-light.png);

    background-image: var(--bg-image, url(../images/cover-image.png));
}

.theme-light .header__rec {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.theme-light .header__theme-menu-button {
    color: var(--text-color, #353430);
}

.theme-light .header__theme-menu-button:hover {
    outline: 1px solid var(--text-color-opacity, #35343040);
}

.theme-light .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid var(--text-color, #353430);
}

.theme-light .header__theme-menu-button_active {
    border: 1px solid var(--text-color, #353430);
}

.theme-light .section__title {
    color: var(--text-color, #353430);
}

.theme-light .page__title::before {
    border-top: 1px solid var(--text-color, #353430);
    border-right: 1px solid var(--text-color, #353430);
}

.theme-light .page__title::after {
    border-bottom: 1px solid var(--text-color, #353430);
    border-left: 1px solid var(--text-color, #353430);
}

@media (width < 1024px) {
    .theme-light .footer__title {
        text-shadow: 2px 2px var(--accent-color, #ff8dcb);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --h1-text-color: #ffc2e6;
        --accent-color: #ff8dcb;
        --text-color: #353430;
        --text-color-opacity: #35343040;
        --bg-color: #fff1f7;
        --text-accent-color: #353430;
    }

    .header {
        --bg-image: url(../images/cover-image-light.png);

        background-image: var(--bg-image, url(../images/cover-image.png));
    }

    .header__rec {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .header__theme-menu-button {
        color: var(--text-color, #353430);
    }

    .header__theme-menu-button:hover {
        outline: 1px solid var(--text-color-opacity, #35343040);
    }

    .header__theme-menu-button:focus-visible {
        border-bottom: 1px solid var(--text-color, #353430);
    }

    .header__theme-menu-button_active {
        border: 1px solid var(--text-color, #353430);
    }

    .section__title {
        color: var(--text-color, #353430);
    }

    .page__title::before {
        border-top: 1px solid var(--text-color, #353430);
        border-right: 1px solid var(--text-color, #353430);
    }

    .page__title::after {
        border-bottom: 1px solid var(--text-color, #353430);
        border-left: 1px solid var(--text-color, #353430);
    }

    @media (width < 1024px) {
        .footer__title {
            text-shadow: 2px 2px var(--accent-color, #ff8dcb);
        }
    }
}