.page {
    font-family: var(--font-family, IBM Plex Mono), sans-serif;
    font-size: var(--font-size, 18px);
    font-weight: var(--base-font-weight, 400);
    line-height: var(--line-height, 1.3);
    background-color: var(--bg-color, #000028);
    background-attachment: fixed;
    color: var(--text-color, #f1b2ce);
}

.header {
    --bg-image: url(../images/cover-image-dark.png);

    position: relative;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: minmax(0, 1fr);
    gap: 50px;
    background-image: var(--bg-image, url(../images/cover-image.png));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    padding-inline: 10px;
}

.header,
.main {
    margin-block-end: 40px;
}

.header,
.footer {
    width: 100%;
    height: 100vh;
}

.main,
.footer {
    padding-inline: 10px;
}

.header__rec {
    position: absolute;
    inset-block-start: 10px;
    inset-inline-end: 40px;
    grid-area: 1 / 1;
    color: var(--accent-color, #ff0070);
}

.header__rec::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 9px;
    height: 9px;
    right: -22px;
    top: 7px;
    border-radius: 50%;
    background-color: var(--accent-color, #ff0070);
    color: var(--accent-color, #ff0070);
    box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
}

.header__theme-menu {
    grid-area: 1 / 1;
    margin-block-start: 60px;
    align-self: center;
    justify-self: end;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__theme-menu-button {
    padding: 1.5px 13px;
    border: none;
    background: inherit;
    width: 70px;
    height: 26px;
    text-transform: lowercase;
    line-height: 1;
    color: var(--accent-color, #ff0070);
}

.header__theme-menu-button:hover {
    outline: 1px solid var(--accent-color-opacity, #ff007040);
    cursor: pointer;
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:focus-visible {
    border-block-end: 1px solid var(--accent-color, #ff0070);
}

.header__theme-menu-button_active {
    pointer-events: none;
    border: 1px solid var(--accent-color, #ff0070);
}

.page__title {
    font-size: var(--h1-font-size-mobile, 116px);
    font-weight: var(--bold-font-weight, 700);
    line-height: 82.5%;
    color: var(--h1-text-color, #db00ff);
    text-shadow: 4px 4px var(--accent-color, #ff0070);
    margin-block: auto;
}

.page__title::before {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-block-start: 1px solid var(--accent-color, #ff0070);
    border-inline-end: 1px solid var(--accent-color, #ff0070);
}

.page__title::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-block-end: 1px solid var(--accent-color, #ff0070);
    border-inline-start: 1px solid var(--accent-color, #ff0070);
}

.title-decor {
    background-color: var(--accent-color, #ff0070);
    font-weight: var(--bold-font-weight, 700);
    line-height: var(--line-height, 1.3);
    color: var(--text-accent-color, #000028);
    text-wrap: pretty;
    row-gap: 20px;
    margin-block-end: 75px;
}

.header__article {
    padding-block-start: 5px;
}

.header__subtitle {
    margin-block: auto;
    margin-inline-start: auto;
    width: 355px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.main__section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section__title {
    font-size: var(--font-size, 18px);
    font-weight: var(--bold-font-weight, 700);
    color: var(--accent-color);
}

.article__title {
    margin-block-end: 10px;
    font-size: var(--font-size, 18px);
}

.article__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list__title {
    font-size: var(--font-size, 18px);
    margin-block-end: 0;
}

.list-item__title {
    font-weight: var(--font-size, 400);
}

.list__image {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list-images {
    gap: 10px;
}

.article__link {
    text-decoration: none;
    text-shadow: 2px 2px var(--accent-color, #ff0070);
}

.article__link:hover {
    border-block-end: 1px solid var(--text-color);
}

.article__link:focus {
    outline: none;
}

.article__link:focus-visible {
    outline: 1px solid var(--text-color);
}

.footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.footer__title {
    text-shadow: 2px 2px #ff0070;
}

@media (width >= 768px) {
    .header {
        padding-inline: 20px;
    }

    .page__title {
        margin-inline-start: -20px;
        font-size: var(--h1-font-size-dekstop-and-tablet, 120px);
    }

    .header__rec {
        inset-block-start: 20px;
        inset-inline-end: 50px;
    }

    .header__rec::after {
        right: -22px;
        top: 7px;
    }

    .header__theme-menu {
        align-self: end;
        margin-block-start: 0;
        padding-block-end: 20px;
    }

    .page__title::before {
        top: 20px;
        right: 20px;
    }

    .page__title::after {
        bottom: 20px;
        left: 20px;
    }

    .header__article {
        padding-block-start: 10px;
    }

    .header__subtitle {
        width: 364px;
    }

    .header,
    .main {
        margin-block-end: 60px;
    }

    .main,
    .footer {
        padding-inline: 20px;
    }

    .main {
        gap: 80px;
    }

    .section-why,
    .section-do {
        display: grid;
        grid-template-columns: 236px auto;
        gap: 20px;
    }

    .section__title {
        width: 236px;
    }

    .section-images__title {
        margin-block-end: 20px;
    }

    .list-images {
        display: grid;
        grid-template-areas:
      'sunset sunset ice-cream'
      'tape books ice-cream'
      'tape street street';
        gap: 20px;
    }

    .image-sunset {
        grid-area: sunset;
    }

    .image-ice-cream {
        grid-area: ice-cream;
    }

    .image-tape {
        grid-area: tape;
    }

    .image-books {
        grid-area: books;
    }

    .image-street {
        grid-area: street;
    }

    .footer__title {
        margin-inline-start: 0;
    }
}

@media (width >= 1024px) {
    .header__theme-menu {
        align-self: start;
        justify-self: center;
        margin-block-start: 20px;
    }

    .header__theme-menu-list {
        flex-direction: row;
    }

    .header__article {
        padding-block-start: 20px;
    }

    .header__subtitle {
        width: 491px;
    }

    .section-why,
    .section-do {
        display: grid;
        grid-template-columns: 315px auto;
        gap: 20px;
    }

    .section__title {
        width: 315px;
    }

    .what-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .page:not(div) {
        gap: 40px;
    }
}