:root {
    --font-family: IBM Plex Mono;
    --font-size: 18px;
    --base-font-weight: 400;
    --bold-font-weight: 700;
    --line-height: 1.3;
    --h1-font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --h1-font-size-dekstop-and-tablet: clamp(
            7.5rem,
            0.5625rem + 14.4531vw,
            9.8125rem
    );
    --h1-text-color: #db00ff;
    --accent-color: #ff0070;
    --accent-color-opacity: #ff007040;
    --text-color: #f1b2ce;
    --bg-color: #000028;
    --text-accent-color: #000028;
}